---
import allIdeas from '@assets/SpeakingIdeas.json'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Speaking Ideas">

<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-white">Speaking Lug'atlari</h2>
          <p class="font-light sm:text-xl text-gray-400">Mavzulashtirilgan Multilevel Speaking lug'atlari va idealari.</p>
      </div> 
      <div class="grid gap-3 grid-cols-2 sm:grid-cols-4">
      {
         allIdeas.map((idea) => (
          <div class="py-2 sm:py-4  px-4 rounded-lg border shadow-xl bg-gray-800 border-gray-900">
              
              <a class="text-lg text-white flex items-center gap-2 justify-between capitalize" href={`/speaking/speaking-ideas/${idea.id}/index.html`}>{idea.url}
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </a>
              
          </div> 
           ))}             
      </div>  
  </div>
</section>
</Layout>

