---
import Layout from '@layouts/Layout.astro'
import TelegramVerify from '@components/Telegram-Verify.astro';
---

<Layout title="Speaking Main">
    <div id="loader" class="min-h-screen w-full flex justify-center items-center text-xl">Loading Page...</div>
    <TelegramVerify/>
<main id="main" class="hidden">
    <header class="w-full bg-blue-600 shadow-lg text-white flex justify-between items-center font-bold px-5 py-4">
    <h1>ExamOnline Edumo</h1>
    <p class="text-lg" id="user"></p>
    </header>
</main>  
</Layout>

<style>
    #loader{
        background-color: rgba(242, 242, 242, 0.535);
    }
</style>