---
import Layout from '@layouts/SpeakingLayout.astro'
import Back from '@components/Back.astro'

var topics=[
{
    title:"1. Festival",
    link:"/speaking/test-1/index.html"
},
{
    title:"2. Environmental Problem",
    link:"/speaking/test-2/index.html"
},
{
    title:"3. Time Management",
    link:"/speaking/test-3/index.html"
},
{
    title:"4. Math",
    link:"/speaking/test-4/index.html"
},
{
    title:"5. Technology",
    link:"/speaking/test-5/index.html"
},
{
    title:"6. Neighbors and Animals",
    link:"/speaking/test-6/index.html"
},
{
    title:"7. Website and Internet",
    link:"/speaking/test-7/index.html"
},
{
    title:"8. Environmental Issues",
    link:"/speaking/test-8/index.html"
},
{
    title:"9. Buildings",
    link:"/speaking/test-9/index.html"
},
{
    title:"10. Weather & Seasons",
    link:"/speaking/test-10/index.html"
},
{
    title:"11. Transports",
    link:"/speaking/test-11/index.html"
},
{
    title:"12. Animals & Zoo",
    link:"/speaking/test-12/index.html"
},
{
    title:"13. Apps & Bags",
    link:"/speaking/test-13/index.html"
},
{
    title:"14. Movies & Business",
    link:"/speaking/test-14/index.html"
},
{
    title:"15. Music & Childhood",
    link:"/speaking/test-15/index.html"
},
{
    title:"16. Meal & Free Item",
    link:"/speaking/test-16/index.html"
},
{
    title:"17. Animals & Picnic",
    link:"/speaking/test-17/index.html"
},
{
    title:"18. Patience & Gift",
    link:"/speaking/test-18/index.html"
},
{
    title:"19. Clothes & Skills",
    link: "/speaking/test-19/index.html"
},
{
    title:"20. Birthday",
    link: "/speaking/test-20/index.html"
},
{
    title:"21. Hometown & Influencers",
    link: "/speaking/test-21/index.html"
},
{
    title:"22. Help & Product",
    link: "/speaking/test-22/index.html"
}
]
---

<Layout title="Speaking">
<main id="main">
    <header class="sticky top-0 w-full bg-blue-600 shadow-lg text-white flex justify-between items-center font-bold px-5">
    <div class="flex items-center">
    <Back/>
    <h1 class="mx-2">ExamOnline Edumo</h1>
    </div>
    <p class="text-lg" id="user"></p>
    </header>
<section id="testBody" class="hidden container mx-auto px-4 grid grid-cols-2 sm:grid-cols-5 my-5">
    {topics.map(t=>(<a href={t.link} class="rounded-lg bg-gray-700 text-gray-100 mt-4 m-2 p-3 shadow-xl">
    <div class="flex items-center justify-around text">
        <span class="title">{t.title}</span>
    
    </div>
</a>
))}
</section>
</main>  
</Layout>

<script is:inline>
   let currentUser = JSON.parse(localStorage.getItem('currentUser'))
  const { status, tariff, telegram, telegramName } = currentUser
  if(status !== "paid" && !tariff){
   window.location.href="/price"
  }
  else if(!telegram || !telegramName){
    window.location.href='/telegram'
  }
  else{
    document.getElementById('testBody').classList.remove('hidden')
  }
</script>


  
  

