---
import Layout from "@layouts/Layout.astro"
import allIdeas from '@assets/SpeakingIdeas.json'

export async function getStaticPaths() {
  return allIdeas.map(({id, url, content}) => {
    return {
      params: { id },
      props: {url, content}
    }
  })
}

const { url, content } = Astro.props;

---
<Layout title={ url}>
<article class="prose lg:prose-xl prose-invert container mx-auto px-4 my-5">
  <div class="mt-6 py-10" set:html={ content.split('\n').join('<p>') }/>
    <div class="h-[60px]"></div>
</article>
</Layout>

