---
import Layout from '../../../layouts/Layout.astro'
import AudioLoader from '../../../components/AudioLoader.astro';
import Speaking from '../../../components/Speaking.astro';
import Home from '../../../components/Home.astro'
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}

const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {tariff, telegram, telegramName, status} = userData

if(status ==="unpaid" || status ===""){
  return Astro.redirect("/price");	
}

---

<Layout title="Speaking">
    <AudioLoader/>
	<Home/>
     <Speaking test="Test 14. Movies & Business"/>

     <audio src="/mock-tests/test14/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test14/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test14/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test14/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test14/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test14/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test12/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test14/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test12/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test14/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test14/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test14/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test14/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test14/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test12/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>

var q=[
     'What kind of movies do you like?',
   'Do you usually watch films alone or with others?',
   'Which actor would you like to play you in a film?',
   'Do you prefer foreign films or films made in your country?',
   'Do people in your country like to go to a cinema to watch a film?',
   'What was the first film that you watched?',
   '<p><b>Describe the successful business that you know about</b></p><p>You should say:</p><ul><li>what the business is</li><li>where it is</li><li>who runs the business / how you know about this business</li><li>and explain why you think it is successful.</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>',
   'What skills are required to start a small business?',
   'What are the risks of running your own business?',
   'How can small businesses benefit the people in their community?',
   'Compare owning and running a small business to being an employee in a large company.',
   'Compare small shops with big international department stores and supermarkets.'
	]

</script>

<script src="../../../scripts/quiz.js"></script>  
