---
import Layout from '@layouts/Layout.astro';
import EssayList from "@components/essay/Essay.jsx"
---
<Layout title="Essay">

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-white"> Writing Task 2 (Essay) Samples
</h2>
  
  </div>
  <!-- End Title -->

<EssayList client:load/>

<div class="h-60px"></div>
</div>
</Layout>
