---
import Layout from '../../../layouts/Layout.astro'
import AudioLoader from '../../../components/AudioLoader.astro';
import Speaking from '../../../components/Speaking.astro';
import Home from '../../../components/Home.astro'


---

<Layout title="Speaking">
    <AudioLoader/>
	<Home/>
     <Speaking test="Test 13. Apps & Bags"/>

     <audio src="/mock-tests/test13/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test13/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test13/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test13/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test13/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test13/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test12/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test13/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test12/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test13/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test13/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test13/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test13/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test13/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test12/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>

var q=[
   "What kinds of apps do you often use?",
  "Is there any apps you would like to download?",
  "What’s the most popular app in your country?",
  "Is a bag an ideal gift?",
  "Do you often change your bags?",
  "Do you have different bags for different occasions?",
   '<p><b>Describe a time when you needed to search for information.</b></p><p>You should say:</p><ul><li>What information you needed to search for</li><li>When you searched for it </li><li>Where you searched for it </li><li>and explain why you needed to search for it.</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>',
"How can people search for information now?",
"What information can people get from television?",
" Do you think libraries are still important in the digital age?",
"Does the development of the Internet have any impact on some disadvantaged people?",
"Have you ever been tricked by fake information on social media?"
	]

</script>

<script src="../../../scripts/quiz.js"></script>  
