<header class="w-full h-[60px] bg-white shadow-xl flex items-center justify-between gap-x-3">
<a class="text-xl text-medium ml-4">Editor</a>
<button id="save" class="bg-blue-600 text-white rounded-xl px-5 py-2 mx-3">Save</button>
</header>
<main class="bg-gray-100 w-full min-h-screen mx-auto flex items-center flex-col">
<div id="editorjs" class="bg-white container sm:max-w-6xl mx-auto px-3 my-4"></div>
</main>

