---
import Layout from "@layouts/Layout.astro";
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Back from '@components/Back.astro'


interface Course {
  title: string;
  body: string;
  date: string;
  video: video
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const courseRef = db.collection("task1");
const courseSnapshot = await courseRef.doc(id).get();

if (!courseSnapshot.exists) {
  return Astro.redirect("/404");
}

const course = courseSnapshot.data() as Course;
---

<Layout title={course.title}>
<header class="flex items-center px-5 w-full sticky top-0  py-1 shadow-xl">
<Back/>
</header>
<section class="container mx-auto px-4 pt-10 mb-6  my-5 p-6">
  
  <div class="prose lg:prose-xl prose-invert mx-auto">

   <iframe class="w-full h-full mb-3 sm:w-[769px] sm:h-[409px] mx-auto  aspect-video rounded-xl" src={course.video} title={course.title} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 

  <div class="g-ytsubscribe" data-channelid="UCi1XXSBwveXksfJTDNmBUuA" data-layout="default" data-count="default"></div>

   <div set:html={course.body}/>
  </div>
  </section>
</Layout>

<script is:inline src="https://apis.google.com/js/platform.js"></script>
