---
import Layout from "@layouts/Layout.astro";
import Editor from "@components/Editor.astro";
import SkillHeader from "@components/SkillHeader.astro";
---

<Layout title="Add a new lesson">
<SkillHeader skillTitle="Add a new lesson"/>
<main class="w-full min-h-screen mb-6 mt-8">
  <Editor/>
</main>  
</Layout>