---
import Layout from "@layouts/Layout.astro";
import { Image } from 'astro:assets';
import errorImg from "../assets/404.png"; 
---
<Layout title="Xatolik sodir bo'ldi">
    <div class="flex justify-center items-center min-h-screen flex-col">
        <Image src={errorImg} alt="Error Page" class="mx-auto"/>
        <p class="text-gray-400 text-xl py-2">Afsuski, nimadadir xatolik bo'ldi</p>
        <a href="/dashboard" class="py-2 px-5 rounded-xl text-white bg-blue-600">Qayta Urinish</a>
    </div>

</Layout>
