---
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
---
<Layout title="Something went wrong">
    <div class="flex justify-center items-center  flex-col">
        <img src="/static/img/404.png">
        <p class="text-gray-400 text-xl py-2">Oops, Something went wrong</p>
        <a href="/" class="py-2 px-5 rounded-xl text-white bg-blue-600">Try Again</a>
    </div>

</Layout>
