---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Conference">

<div id="meet"></div>

</Layout>
<script src='https://examonline-rouge.vercel.app/external_api.js'></script>

<script>
const domain = 'examonline-rouge.vercel.app';
const options = {
    roomName: 'Edumo Chat',
    width: '100%',
    height: '100vh',
    parentNode: document.querySelector('#meet')
};
const api = new JitsiMeetExternalAPI(domain, options);

</script>
