---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Conference">

<div id="meet"></div>

</Layout>
https://examonline-rouge.vercel.app/external_api.js
<script>
const domain = 'examonline-rouge.vercel.app/conference';
const options = {
    roomName: 'Edumo Chat',
    width: '100%',
    height: '100vh',
    parentNode: document.querySelector('#meet'),
    lang: 'en'
};
const api = new JitsiMeetExternalAPI(domain, options);

</script>
