---
import Layout from "@layouts/Layout.astro"
import SideMenu from "@components/dashboard/SideMenu.astro"
import Card from "@components/dashboard/Card.astro"
---
<Layout title="Dashboard">
<SideMenu/>

<main class="container lg:w-[calc(100%-255px)] lg:ml-[255px] mx-auto px-4">

<div class=" mt-4 grid grid-cols-1 sm:grid-cols-4 gap-3 place-items-center   my-5 pt-5 lg:pt-10">
 <Card
 bg=""
 id="speaking"
 link="/speaking/index.html"
 lottie="/lotties/speaking.json"
 title="Speaking"
 desc="Og‘zaki nutq bo‘limining maqsadi nomzodning fikrini chet tilida og‘zaki tarzda to‘g‘ri va ravon ifodalay olish qobiliyatini tekshirishdir."
  
 />

 <Card
 bg=""
 id="listening"
 link="/listening/index.html"
 lottie="/lotties/listening.json"
 title="Listening"
 desc="Ushbu bo‘limning maqsadi autentik va yarim autentik audiomatnlarning umumiy mazmunini, ulardagi asosiy fikrlar va detallarni tushunish"
  
 />

 <Card
 bg="white"
 id="writing"
 link="/writing/index.html"
 lottie="/lotties/writing.json"
 title="Writing"
 desc="Yozma nutq bo‘limining maqsadi nomzodning fikrini chet tilida yozma ravishda to‘g‘ri va ravon ifodalay olish qobiliyatini tekshirishdir."
  
 />

 <Card
 bg="white"
 id="reading"
 link="#"
 lottie="/lotties/reading.json"
 title="Reading"
 desc="Ushbu bo‘limning maqsadi ommabop, ilmiy-ommabop hamda ilmiy matnlarning umumiy mazmunini, ulardagi asosiy fikrlar va detallarni tushunish."
  
 />

</div>
<div class="h-[50px]"></div>
</main>
    
</Layout>


<script>
  import { db } from "@lib/firebase/client";
  import { doc, getDoc } from "firebase/firestore";
  import { updateUser } from '@scripts/firestore.js'
 
  var user = localStorage.getItem('user')
  
  if(!user){
    window.location.href='/index.html'
  }
  

  var profile = JSON.parse(user)

  let currentUser;

async function getUserData(){
 const docRef = doc(db, "users", profile.uid);
 const docSnap = await getDoc(docRef);

if (docSnap.exists()) {
  currentUser = docSnap.data();
  localStorage.setItem('currentUser', JSON.stringify(currentUser));

} else {
  // docSnap.data() will be undefined in this case
  console.log("No such document!");
}
}


async function checkUser(){
  const userDate = JSON.parse(localStorage.getItem('currentUser'))

  if(!userDate.expiresAt){
    return
  }

  var endDate = new Date(userDate.expiresAt.seconds*1000)
  console.log(endDate)
  var bugun = new Date()

  if(bugun >= endDate){
    updateUser(profile.uid)
    localStorage.removeItem('currentUser')
  }
}



document.addEventListener("DOMContentLoaded", async () => {
  await getUserData()
  checkUser()
});

</script>



