---
import Layout from "@layouts/Layout.astro";
import SkillHeader from '@components/SkillHeader.astro';
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";

const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {status, tariff} = userData

if(tariff==="basic"){
return Astro.redirect("/pay");
}

if(status ==="unpaid" || status ==="" || status ===null){
  return Astro.redirect("/price");	
}

const mocktest=[
{
tag:'Mock 1 PDF',
pdf: 'https://savefiles.org/drive/s/h9AZ5pHs4XnpPeoeuD6J9Yv0BhAM43',
audio:'https://savefiles.org/drive/s/CwTf3yLrOC86bpbASzjxrGsGuincts'
},
{
tag:'Mock 2 PDF',
pdf: 'https://savefiles.org/drive/s/kxU8BpYOzYmWQjuVQ47eFwz5x0KFeu',
audio:'https://savefiles.org/drive/s/yW7bcT7HX6fqFozGAEDO0dpEvfyPnD'
},
{
tag:'Mock 3 PDF',
pdf: 'https://savefiles.org/drive/s/FqPs3pZgssl0i7d7mu0NdI4a7bpePs',
audio:'https://savefiles.org/drive/s/tIesEwDIu1gmctI5iuK1RwoIM6XIjh'
},
{
tag:'Mock 4 PDF',
pdf: 'https://savefiles.org/drive/s/aqSphNJEFYS3pxRe9KSZSwQFqgexVQ',
audio:'https://savefiles.org/drive/s/CsFuKEaQrfNHSrXMExUg1dGMM6hMs2'
},
{
tag:'Mock 5 PDF',
pdf:'https://savefiles.org/drive/s/C0RZ6fhktCC4U4GLfLw6HzS5QfeMRT',
audio: 'https://savefiles.org/drive/s/G9ed7enOLQBQkHY4YWnVhP6We4Ferj'
},
{
tag:'Mock 6 PDF',
pdf:'https://savefiles.org/drive/s/G9ed7enOLQBQkHY4YWnVhP6We4Ferj',
audio: 'https://savefiles.org/drive/s/VwyNAH5J9UIKdQEJanXgiT4o5pN3o3'
},
{
tag:'Mock 7 PDF',
pdf:'https://savefiles.org/drive/s/E11OzrAPzlfRrdmoYhBg7vChrb6Rnu',
audio: 'https://savefiles.org/drive/s/n6lnm17gISBsBDhJMl7NyYjnkbFD2y'
},
{
tag:'Mock 8 PDF',
pdf:'https://savefiles.org/drive/s/IW8tVtLCxtUXmqk2nTWdVBHtuB8Bzt',
audio: "https://savefiles.org/drive/s/LFhza67bYRs6G0qbunLuJ77HMjGRma"
},
{
  tag:'Mock 9 PDF',
  pdf:'https://savefiles.org/drive/s/bLb2lGxa31lj2Ny41X5WuFzVXntQUn',
  audio:'https://savefiles.org/drive/s/jTKWqSBM1bfWYLLiJ1pt7y0g9YYFhk'
},
{
  tag:'Mock 10 PDF',
  pdf:'https://savefiles.org/drive/s/a18TGo5nYBsyi9J73cxzm5gHfaRVXr',
  audio:'https://savefiles.org/drive/s/slquqkq4UQi21W0haLpqCoTd8wIHNy'
}

]


---

<Layout title="Full Mock tests">
    <SkillHeader skillTitle='Full Mock Tests'/>
  <main class="container mx-auto  mt-[50px] flex flex-col items-center justify-center">
<div class="mb-[50px] mx-auto max-w-l3 grid grid-cols-1 gap-3 sm:grid-cols-3">
   {mocktest.map(t=>(
    <ul class="bg-gray-900 divide-y divide-gray-900 rounded-xl border border-gray-900 shadow-xl">
    <li class="p-4">
      <a href={t.pdf} class="hover: text-gray-50 flex items-center text-lg font-medium leading-loose">
      	<svg xmlns="http://www.w3.org/2000/svg" class="text-rose-600 icon icon-tabler icon-tabler-file-type-pdf mx-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" /><path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" /><path d="M17 18h2" /><path d="M20 15h-3v6" /><path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" /></svg> {t.tag}</a>
      <a href={t.audio} class="my-3 flex items-center rounded-2xl bg-blue-600 px-5 py-1 text-gray-50"><svg xmlns="http://www.w3.org/2000/svg" class="text-gray-50 mx-2 icon icon-tabler icon-tabler-music w-6 h-6"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M9 17v-13h10v13" /><path d="M9 8h10" /></svg> Download Audio</a>
    </li>
    
  </ul>
))}
</div>
</main>

</Layout>
