---
import Layout from "@layouts/Layout.astro";
import SkillHeader from '@components/SkillHeader.astro';
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";

const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {status, tariff} = userData

if(!tariff=="pro"){
return Astro.redirect("/pay");
}

if(status ==="unpaid" || status ==="" || status ===null){
  return Astro.redirect("/pay");	
}

const mocktest=[
{
tag:'Mock 1',
pdf: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock1.pdf?alt=media&token=6e829274-5add-4ae6-9497-3aa93cb751fa',
audio:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock1.mp3?alt=media&token=4293b31b-e29f-428d-889b-84d07690557b'
},
{
tag:'Mock 2',
pdf: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock2.pdf?alt=media&token=a30f851e-b0a1-4ca4-9090-f739c5ac4468',
audio:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock2.mp3?alt=media&token=3101e4c6-2e5e-471f-830c-d0bd22f1c7f9'
},
{
tag:'Mock 3',
pdf: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock3.pdf?alt=media&token=f53b198a-95ab-4523-8e3e-69055ef33856',
audio:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock3.mp3?alt=media&token=4333c13e-1c6e-4590-a7e8-4d28961b4252'
},
{
tag:'Mock 4',
pdf: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock4.pdf?alt=media&token=201ff9fc-f361-45f1-a8c1-55e769172e9a',
audio:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock4.mp3?alt=media&token=5909bb6d-cc68-4778-ba88-e19cd940543c'
},
{
tag:'Mock 5',
pdf:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock5.pdf?alt=media&token=4ddc8bd2-22d9-4495-8916-22ef46bad02f',
audio: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2Fmock5.mp3?alt=media&token=e2f44d40-f974-4e0b-b5dc-824122276fcc'
},
{
tag:'Mock 6',
pdf:'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2FMock%2021.11.2023.pdf?alt=media&token=c8bffcbd-5c0a-4b71-866c-e9819feaa4db',
audio: 'https://firebasestorage.googleapis.com/v0/b/exam-online-384406.appspot.com/o/Mock%20testlar%2FMock%20Audio%2021.11.2023.mp3?alt=media&token=a74b0e03-0f01-4556-ba5f-e083f58a6e7e'
}
]


---

<Layout title="Full Mock tests">
    <SkillHeader skillTitle='Full Mock'/>
   {mocktest.map(t=>(<div class="my-4 bg-gray-700 flex flex-col justify-start items-center rounded my-1 py-2 mx-auto" style="width:80%">
	<div class="text-center flex flex-col">
		<a href={t.pdf} class="text-blue-500 my-1 rounded bg-gray-800 py-2 px-8">📚 Download {t.tag}</a>
    <a href={t.audio} class="text-blue-500 bg-gray-800 rounded py-2 px-8">🎵 Download</a>
	</div>
</div>
))}

</Layout>
