---
import Layout from '../layouts/Layout.astro'
import TopUser from '@components/TopUser.astro'
import { app } from "../lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";
import Card from '@components/Card.astro';
import Course from '@components/Course.astro';
import Intro from '@components/Intro.astro';
import Modules from '@components/Modules.astro';


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {picture, name} = userData
---
<Layout title="Exam Online - Multilevel imtihoniga tayyorlovchi platforma">
  <Intro/>
<section class="hidden" id="main-screen" transition:animate="slide">
<TopUser
name={name || "Guest"}
picture={picture || "/static/img/avatar.png"}
/>
<Modules/>
<main class=" container mx-auto px-4">
    <h2 class="text-gray-100 text-3xl py-3 font-bold dark:text-white ">Courses</h2>
    <div class="course-slider flex justify-center items-center">
    <Course
     img="https://essaywritinghelp.pro/wp-content/uploads/2020/05/Frame-16-1.png"
      title="Task 1"
       descript="Letter Writing Course"
       href="/post"
     />

     <Course
     img="https://contenthub-static.grammarly.com/blog/wp-content/uploads/2022/06/BMD-3099.png"
      title="Task 2"
       descript="Essay Writing Course"
       href="/task-2"
     />

     


    </div>
</main>    
<main class="w-full flex flex-col justify-center items-center mt-4">
 
    <Card/>
    
</main>  
</section>  
</Layout>

<script is:inline>

  var notVisible = localStorage.getItem("visible")

  if(!notVisible){
    document.getElementById("swipe").classList.remove("display-none");
    document.getElementById("hide-intro").addEventListener("click", ()=>{
      document.getElementById("main-screen").classList.remove("hidden");
      document.getElementById("swipe").classList.add("display-none");
      localStorage.setItem("visible", "true")
    })
  }
  else{
    document.getElementById("main-screen").classList.remove("hidden");
    document.getElementById("swipe").classList.add("display-none");
  }



</script>


<style>


/* Course Slider Styles */
.course-slider {
  white-space: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
/* Course Slider Styles */
  .course-slider {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
  }
}
</style>
