---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro'
import Header from '@components/Header.astro'
---

<Layout title="ExamOnline Edumo - onlayn Multilevel ilovasi">
<Header/>
<section class="w-full mt-5 pt-8">
<Hero/>
<div class="h-[40px]"></div>
</section>



</Layout>
