---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro'
import Header from '@components/Header.astro'
---

<Layout title="ExamOnline Edumo - onlayn Multilevel ilovasi">
<Header
active1="#2563eb"
active2=""
active3=""
active4=""
link1="#"
link2="/courses/task-2/sample"
link3="/exam-info"
link4="#"
/>
<section class="w-full mt-5 pt-8">
<Hero/>
<div class="h-[40px]"></div>
</section>



</Layout>
