---
import Layout from '../layouts/Layout.astro'
import TopUser from '@components/TopUser.astro'
import { app } from "../lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";
import Card from '@components/Card.astro';
import Intro from '@components/Intro.astro';


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {picture, name} = userData
---
<Layout title="Exam Online - Multilevel imtihoniga tayyorlovchi platforma">
  <Intro/>
<section class="hidden" id="main-screen" transition:animate="slide">
<TopUser
name={name || "Guest"}
picture={picture || "/static/img/avatar.png"}
/>
    
<main class="w-full flex flex-col justify-center items-center mt-4 ">
 
    <Card/>
    
</main>  

<div class="mb-[50px] mx-auto container sm:max-w-xl px-4 grid grid-cols-1 mt-5 pt-3 sm:pt-10">

 <ul class="bg-gray-900 divide-y divide-gray-900 rounded-xl border border-gray-900 shadow-xl mb-[50px]">
    <li class="p-4 flex flex-col items-center">
      <a href="/teachers" class="hover: text-gray-50 flex items-center  font-medium leading-loose text-xl sm:text-3xl">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 sm:w-14 sm:h-14 rotate-[90deg] mx-2 icon icon-tabler icon-tabler-search" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
      <p>Find your Online Teacher</p>
         </a>
      <a href="/teachers" class="my-3 flex items-center justify-center rounded-2xl bg-blue-600 px-3 py-2 text-gray-50 w-full sm:w-[50%] capitalize">
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 icon icon-tabler icon-tabler-cloud-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11 18.004h-4.343c-2.572 -.004 -4.657 -2.011 -4.657 -4.487c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 1c1.488 1.19 2.162 3.007 1.77 4.769h.99" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>
      Search your teacher</a>
    </li>
    
  </ul>
</div>


</section>  
</Layout>

<script is:inline>

  var notVisible = localStorage.getItem("visible")

  if(!notVisible){
    document.getElementById("swipe").classList.remove("display-none");
    document.getElementById("hide-intro").addEventListener("click", ()=>{
      document.getElementById("main-screen").classList.remove("hidden");
      document.getElementById("swipe").classList.add("display-none");
      localStorage.setItem("visible", "true")
    })
  }
  else{
    document.getElementById("main-screen").classList.remove("hidden");
    document.getElementById("swipe").classList.add("display-none");
  }



</script>


<style>


/* Course Slider Styles */
.course-slider {
  white-space: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
/* Course Slider Styles */
  .course-slider {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
  }
}
</style>
