---
import Layout from '@layouts/Layout.astro'
import Listening from '@components/Listening.astro';
import SkillHeader from '@components/SkillHeader.astro';

---
<Layout title="Listening">
<SkillHeader skillTitle="Listening"/>
<main class="w-full flex flex-col justify-center items-center mt-4">
    <Listening/>
</main>
</Layout>
