---
import Layout from '@layouts/Layout.astro'
import Purchase from '@components/Purchase.astro'
---

<Layout title="Payment">
<Purchase/>
<main class="min-h-screen flex flex-col justify-center items-center text-center">
<div>
<img src="/static/img/pay.png"/>
<h1 class="text-xl text-gray-50 mb-3">Upgrade your tariff plan</h1>
<a href="https://t.me/javlon_developer" target="_blank" class="bg-blue-600 text-white rounded-xl py-2 my-2 px-4">Contact Us</a>
</div>
</main>
</Layout>
