---
import Layout from '@layouts/Layout.astro'
import Post from '@components/Post.astro';
import SkillHeader from '@components/SkillHeader.astro';

---
<Layout title="Writing Task 1">
<SkillHeader skillTitle="Writing Task 1"/>
<main class="w-full flex flex-col justify-center items-center mt-4">
    <Post/>
</main>
</Layout>
