---
import Layout from '@layouts/Layout.astro'
import { app } from "../lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";

const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {status} = userData

if(status ==="unpaid" || status ===""){
  return Astro.redirect("/pay");	
}

var topics=[
{
	title:"Movie",
	link:"freetests/test6/index.html"
},
{
	title:"Technology",
	link:"freetests/test7/index.html"
},
{
	title:"Music",
	link:"freetests/test8/index.html"
},
{
	title:"Newspaper",
	link:"freetests/test9/index.html"
},
{
	title:"Holiday",
	link:"freetests/test10/index.html"
},
{
	title:"Hometown",
	link:"freetests/test11/index.html"
},
{
	title:"Hometown 2",
	link:"freetests/test12/index.html"
},
{
	title:"Time Management",
	link:"freetests/test21/index.html"
},
{
	title:"Math",
	link:"freetests/test23/index.html"
},
{
	title:"Shopping",
	link:"freetests/test24/index.html"
}
]

---

<Layout title="Speaking Practice">
<main id="main">
    <header class="sticky top-0 w-full bg-blue-600 shadow-lg text-white flex justify-between items-center font-bold px-5 py-4">
    <h1>ExamOnline Edumo</h1>
    </header>
<section class="container mx-auto px-4 flex flex-wrap justify-center my-5">
    {topics.map(t=>(<a href={t.link} class="rounded-lg bg-gray-700 text-gray-100 mt-4 m-2 py-2 px-6 shadow-xl">
    <div class="flex items-center justify-around">
        <span class="title">{t.title}</span>
        <ons-icon style="color: dodgerblue; padding: 0 10px;" icon="md-mic"></ons-icon>
    </div>
</a>
))}
</section>
</main>
</Layout>


