---
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
import { getFirestore } from "firebase-admin/firestore";


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {name, email, status, tariff, joined, expiresAt, telegramName} = userData

if(status==="unpaid"){
return Astro.redirect("/price");
}

if(tariff==="basic"){
return Astro.redirect("/pay");
}


---

<Layout title="Essay">
<header class="w-full sticky top-0 bg-slate-700 shadow-lg flex justify-between items-center px-5 text-xl font-semibold text-gray-100">
<div class="flex items-center">
    <Back/>
<h1>Essay Generator</h1>
</div>
<button onclick="copyToClipboard('#result')"><svg class="w-8 h-8 text-gray-400"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />
  <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
  </svg></button>
</header>
 <form id="essayForm" class="md:colums-2 flex flex-col justify-start items-center">
    <h1 class="text-3xl font-semibold py-4 text-gray-100">Generate Your Essay</h1>
    <input required class="container mt-5 mx-auto px-4 p-4 text-gray-200 outline-none bg-gray-900 rounded-lg border-2 border-gray-800 font-bold" id="question" name="question" placeholder="Generatsiya qilish uchun essay savolini kiriting...">

    <div class="hidden text-white text-xl" id="resultContainer">
   <ul class="my-4 container mx-auto px-4">
    <li id="result"><li>
   </ul>
  </div>

    <button id="btn" class="flex items-center mt-4 mb-3 bottom-3 px-8 bg-gray-900 text-white text-lg rounded-lg py-2 px-4 font-semibold shadow-xl" type="button">
     ⚙️ Generate an essay</button>
  </form>

</Layout>
  


<script is:inline>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>


<script>
  
$(function () {

$('#btn').click(async()=>{

      const question = $("#question").val()
      if(question ===""){
       return
      }
      
      document.getElementById('btn').innerText="⏳ Generating..."

      try {

    const jsonString = JSON.stringify({question});
    console.log(jsonString)
    const response = await fetch('/api/generate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: jsonString,
    });

    const result = await response.json();
    const resultContainer = document.getElementById('resultContainer');
    const resultDiv = document.getElementById('result');
    $('#btn').hide()
    $("#question").hide()
    resultContainer.classList.remove('hidden');
    resultDiv.innerHTML = "";

    const essayText = result.choices[0].text;
        const paragraphs = essayText.split('\n\n');
        // Format paragraphs with <p> tags
        const formattedEssay = paragraphs.join('\n\n');
     resultDiv.innerHTML = `<b>${question}</b> <br>${formattedEssay}`

  } catch (error) {
    console.error("Error sending JSON data:", error);
  }
})
    

    
});
</script>
