---
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "@layouts/Layout.astro";
import { getFirestore } from "firebase-admin/firestore";


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {name, email, status, tariff, joined, expiresAt, telegramName} = userData


---

<Layout title="Essay">
<header class="py-4 w-full sticky top-0 bg-slate-700 shadow-lg flex justify-between items-center px-5 text-xl font-semibold text-gray-100">
<h1>Essay Generator</h1>
<p>{telegramName}</p>
</header>
 <form id="essayForm" class="md:colums-2 flex flex-col justify-start items-center">
    <h1 class="text-3xl font-semibold py-4 text-gray-100">Generate Your Essay</h1>
    <div class="container mt-5 mx-auto px-4 p-4 text-gray-200 outline-none bg-gray-900 rounded-lg border-2 border-gray-800 font-bold" id="question" name="question" placeholder="Generatsiya qilish uchun essay savolini kiriting...">
    </div>

    <div class="hidden text-white text-xl" id="resultContainer">
   <ul class="my-4 container mx-auto px-4">
    <li id="result"><li>
   </ul>
  </div>

    <button id="btn" class="flex items-center mt-4 mb-3 bottom-3 px-8 bg-gray-900 text-white text-lg rounded-lg py-2 px-4 font-semibold shadow-xl" type="button" disabled>
     ⚙️ Generate an essay</button>
  </form>

   <!-- Toast -->
  <div id="alert" class="hidden absolute bottom-2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">

<div class="max-w-xs bg-gray-900 text-sm text-white rounded-xl shadow-lg dark:bg-gray-900" role="alert">
  <div class="flex p-4">
    You did not enter essay question!

    <div class="ms-auto">
      <button type="button" class="inline-flex flex-shrink-0 justify-center items-center h-5 w-5 rounded-lg text-white hover:text-white opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100">
        <span class="sr-only">Close</span>
        <svg id="toggle-close" class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
      </button>
    </div>
  </div>
</div>
</div>
<!-- End Toast -->


  

</Layout>
  



<script>
  
$(function () {

$("#question").toTextarea({allowHTML: true, allowImg: true});


$('#alert').click(()=>{
    $("#alert").fadeOut('2000')
   })
   
    function validateForm() {
    var questionText = document.getElementById("question").innerText.trim();

    if (questionText !== "") {
        btn.disabled = false;

    } else {
        btn.disabled = true;
    }
}

$('#btn').click(async()=>{
  var questionText = document.getElementById("question").innerText.trim();
    var btn = document.getElementById("btn");


    if (questionText !== "") {
        btn.disabled = false;

    } else {
        btn.disabled = true;
        return
    }

    document.getElementById('btn').innerText="⏳ Generating..."
    


      const question = $("#question").text()
      
      try {

    const jsonString = JSON.stringify({question});
    console.log(jsonString)
    const response = await fetch('/api/generate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: jsonString,
    });

    const result = await response.json();
    const resultContainer = document.getElementById('resultContainer');
    const resultDiv = document.getElementById('result');
    $('#btn').hide()
    $("#question").hide()
    resultContainer.classList.remove('hidden');
    resultDiv.innerHTML = "";

    const essayText = result.choices[0].text;
        const paragraphs = essayText.split('\n\n');
        // Format paragraphs with <p> tags
        const formattedEssay = paragraphs.join('\n\n');
     resultDiv.innerHTML = `<b>${question}</b> <br>${formattedEssay}`

  } catch (error) {
    console.error("Error sending JSON data:", error);
  }
})
    

    


function showToast() {
    $("#alert").fadeIn('1000')
}

// Attach the validateForm function to the input events of the question and essay fields
document.getElementById("question").addEventListener("click", validateForm);

});
</script>
