---
import Layout from "@layouts/Layout.astro";
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Back from '@components/Back.astro'


interface Listening {
  title: string;
  markup: string;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const listeningRef = db.collection("listening");
const listeningSnapshot = await listeningRef.doc(id).get();

if (!listeningSnapshot.exists) {
  return Astro.redirect("/404");
}

const listen = listeningSnapshot.data() as Listening;
---

<Layout title={listen.title}>
<header class="flex items-center px-5 w-full sticky top-0 py-1 shadow-xl">
<Back/>
</header>
  <div class="mx-auto px-4 py-6 prose lg:prose-xl prose-invert">
   <div set:html={listen.markup}/>
  </div>
</Layout>

