---
import { app } from "@lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Layout from "@layouts/Layout.astro";
import Back from '@components/Back.astro'


interface Teacher {
  id: string;
  name: name;
  level: level;
  description: description;
  experience: experience;
  phone: phone;
  year: year;
  telegram: telegram;
  youtube: youtube;
  university: university
}

const db = getFirestore(app);
const teacherRef = db.collection("teachers");
const teacherSnapshot = await teacherRef.get();
const teachers = teacherSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Teacher[];
---

<Layout title="Teachers">
<header class="flex items-center px-5 w-full sticky top-0 bg-slate-900 py-1 shadow-xl">
<Back/>
<h1 class="text-white text-xl">Teachers</h1>
</header>

<section class="pt-12 max-w-4xl mx-auto px-6 pb-6 flex flex-col min-h-screen">

<div class="grid grid-cols-1">
     <div class="flex flex-col divide-y divide-gray-700">
      <div class="flex justify-between items-center gap-x-2 py-3 px-4 text-md font-medium gap-6 text-white">
      <p>Name</p>
      <p>Experience</p>
      <p>Level</p>
      <p>Action</p>
      </div>
{
      teachers.map((teacher) => (
      <div class="flex justify-between items-center gap-x-2 py-3 px-4 text-md font-medium gap-6 text-white">
       <p>{teacher.name}</p>
      <p>{teacher.year}</p>
      <p>{teacher.level}</p>
      <p><a href={`/teachers/${teacher.id}`} class="bg-blue-600 px-3 py-1 rounded-xl">Profile</a></p>
      </div>
      
    ))
    }
</div>
</div>

</section>
      

</Layout>
