<div class="transition-loader hidden text-gray-100 text-lg flex justify-center items-center">
<h1 class="text-xl">Uploading Audio to Server...</h1>
</div>

<style>
    .transition-loader{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.446);
        z-index: 999;
    }
</style>