<div class="grid grid-cols-1 gap-x-6  gap-y-2  mt-4 sm:grid-cols-2 my-5">
    
    <div class="my-1 card-container py-3 px-5  flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/listening" class="bg-slate-900 py-2 px-3 text-white rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-headset" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 14v-3a8 8 0 1 1 16 0v3" /><path d="M18 19c0 1.657 -2.686 3 -6 3" /><path d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /><path d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /></svg>
              
        </a>
        <a href="/listening" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Listening</span>
            <span class="text-gray-500"><small>Listening Practice Tests</small></span>
        </a>

    </div>

    <div class="my-1 card-container py-3 px-5  flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/reading" class="bg-rose-600 py-2 px-3 text-white rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-books"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M5 8h4" /><path d="M9 16h4" /><path d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" /><path d="M14 9l4 -1" /><path d="M16 16l3.923 -.98" /></svg>
              
        </a>
        <a href="/reading" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Reading</span>
            <span class="text-gray-500"><small>Reading Practice Tests</small></span>
        </a>

    </div>
    <div class="my-1 card-container py-3 px-5  flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/speaking" class="bg-blue-700 py-2 px-3 text-white rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M8.25 4.5a3.75 3.75 0 117.5 0v8.25a3.75 3.75 0 11-7.5 0V4.5z" />
                <path d="M6 10.5a.75.75 0 01.75.75v1.5a5.25 5.25 0 1010.5 0v-1.5a.75.75 0 011.5 0v1.5a6.751 6.751 0 01-6 6.709v2.291h3a.75.75 0 010 1.5h-7.5a.75.75 0 010-1.5h3v-2.291a6.751 6.751 0 01-6-6.709v-1.5A.75.75 0 016 10.5z" />
              </svg>
              
        </a>
        <a href="/speaking" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Speaking Section</span>
            <span class="text-gray-500"><small>Explore Our Speaking Section</small></span>
        </a>

    </div>
     

     <div class="my-1 card-container py-3 px-5 flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/f-mock" class="bg-cyan-600 py-2 px-3 text-white rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-certificate"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" /><path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73" /><path d="M6 9l12 0" /><path d="M6 12l3 0" /><path d="M6 15l2 0" /></svg>

              
        </a>
        <a href="/f-mock" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Full Mock Tests</span>
            <span class="text-gray-500"><small>Listening, Reading & Writing paper-based tests</small></span>
        </a>
    </div>


 

<div class="my-1 card-container py-3 px-5 flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/essay" class="bg-emerald-500 py-2 px-3 text-white rounded-xl">
       <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-blockquote" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15h15" /><path d="M21 19h-15" /><path d="M15 11h6" /><path d="M21 7h-6" /><path d="M9 9h1a1 1 0 1 1 -1 1v-2.5a2 2 0 0 1 2 -2" /><path d="M3 9h1a1 1 0 1 1 -1 1v-2.5a2 2 0 0 1 2 -2" /></svg>


              
        </a>
        <a href="/essay" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">IELTS Essay Checker</span>
            <span class="text-gray-500"><small>Writing Task 2</small></span>
        </a>
    </div>

<div class="my-1 card-container py-3 px-5 flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/letter" class="bg-orange-500 py-2 px-3 text-white rounded-xl"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-mail-opened-filled"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z" stroke-width="0" fill="currentColor" /><path d="M2 9.535l5.429 3.62l-5.429 5.43z" stroke-width="0" fill="currentColor" /><path d="M22 9.535v9.05l-5.43 -5.43z" stroke-width="0" fill="currentColor" /><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z" stroke-width="0" fill="currentColor" /></svg></a>
        <a href="/letter" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Letter Checker</span>
            <span class="text-gray-500"><small>Writing Task 1</small></span>
        </a>
    </div>

<div class="my-1 card-container py-3 px-5 flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="/courses/task-1" class="bg-indigo-600 py-2 px-3 text-white rounded-xl"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 icon icon-tabler icon-tabler-mail-opened-filled"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z" stroke-width="0" fill="currentColor" /><path d="M2 9.535l5.429 3.62l-5.429 5.43z" stroke-width="0" fill="currentColor" /><path d="M22 9.535v9.05l-5.43 -5.43z" stroke-width="0" fill="currentColor" /><path d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z" stroke-width="0" fill="currentColor" /></svg></a>
        <a href="/courses/task-1" class="text-gray-50 flex flex-col mx-3">
            <span class="text-xl">Writing Course</span>
            <span class="text-gray-500"><small>Letter writing Course</small></span>
        </a>
    </div>

   

</div>


<style>
    .card-container {
        width: 400px;
    }

    @media screen and (max-width:660px) {
        .card-container {
        width: 100%;
    }
    }
</style>
