<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>
<!-- Slider main container -->
<div class="swiper display-none" id="swipe">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center min-h-screen text-white font-semibold">
          <img src="/static/img/intro1.png"/>
          <h2 class="text-2xl text-center">Quick and easy<br>
            learning</h2>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center min-h-screen text-white font-semibold">
            <img src="/static/img/intro2.png"/>
            <h2 class="text-2xl text-center">Numerous practice<br>
                exercises</h2>
          </div>
      </div>
      <di class="swiper-slide">
        <div class="flex flex-col justify-center items-center min-h-screen text-white font-semibold">
            <img src="/static/img/intro3.png"/>
            <h2 class="text-2xl text-center">Get You ready<br>
                for Exam</h2>

                <button class="my-3 text-gray-50 text-lg rounded-xl py-2 px-5 bg-blue-600" id="hide-intro">Get Started</button>
          </div>
      </div>
       <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
      
    </div>
 
  </div>


 


  <style>
    .swiper{
        width:300px
    }

    @media screen and (max-width:660px) {
     .swiper{
     width:90%;
   }
   }

    .display-none{
      display: none;
    }
  </style>

<script is:inline>
  const swiper = new Swiper('.swiper', {
       pagination: {
         el: ".swiper-pagination",
       },
     });
 </script>
 
 
 
