
<h1 class="text-2xl font-nomal text-gray-50 my-5 px-4">Browse By Modules</h1>
<div class="columns-2 container mx-auto px-4 flex justify-center items-center my-5">

    <div class="my-2 mx-1 card-container py-3 px-5 flex rounded-2xl bg-gray-800  items-center shadow-xl">
        <a href="" class="bg-emerald-400 py-2 px-3 text-white rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512"><path fill="currentColor" d="M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z"/></svg>
              
        </a>
        <a href="" class="text-gray-50 flex flex-col mx-3">
            <span class="text-lg">Listening</span>
        </a>
        
    </div>


    <div class="my-2 mx-1 card-container py-3 px-5 flex rounded-2xl bg-slate-800  items-center shadow-xl">
        <a href="" class="bg-orange-500 py-2 px-3 text-white rounded-xl">
        
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
              </svg>
              
              
        </a>
        <a href="" class="text-gray-50 flex flex-col mx-3">
            <span class="text-lg">Reading</span>
        </a>

    </div>

</div>


<style>
    .card-container {
        width: 400px;
    }

    @media screen and (max-width:660px) {
        .card-container {
        width: 50%;
    }
    }
</style>
