<div class="verify min-h-screen w-full bg-gray-100 text-gray-800 flex flex-col justify-center items-center">
    <p class="text-lg font-semibold text-center">Javobingizni olish uchun <u>telegram hisobingizni</u> tasdiqlang!</p>
    <p class="text-xl font-semibold">Tasdiqlash uchun:</p>
    <ol class="bg-gray-200 p-5 rounded my-3">
        <li>1. Pastdagi tugmani bosing;</li>
        <li>2. Oyna ochilgach, telegram hisobingiz biriktirilgan raqamni yozing;</li>
        <li>3. Telegram ilovangizga kirib, kelgan xabarni <b>"Tasdiqlayman"</b> tugamasini bosing</li>
    </ol>
<button id="telegram" class="bg-blue-600 py-2 px-5 rounded-2xl text-gray-100">Telegram hisobingizni tasdiqlash</button>
</div>

<script>
    import telegramAuth from "@use-telegram-auth/client";
    import { app } from "@lib/firebase/client";
    import { getFirestore, doc, updateDoc } from "firebase/firestore";
    const db = getFirestore(app)
const uid=localStorage.getItem("storeId")

    const tgAuth = document.getElementById("telegram")

    tgAuth.addEventListener("click", async ()=>{
  const BOT_ID = "6765226432:AAGBnCx0esy2dbhTpdeMixRUf8mjT2jm8Ao";
  const result = await telegramAuth(BOT_ID, { windowFeatures: { popup: true } }); 
  console.log(result)
  var telegramId=`${result.id}` 
  var telegramName=`${result.first_name}` 
  var telegramUsername=`${result.username}` 
  localStorage.setItem('telegramId', telegramId)
  const telegramData = doc(db, "users", uid );
      await updateDoc(telegramData, {
      telegram: telegramUsername,
      telegramName: telegramName,
      telegramId: telegramId
});
window.location.href="/speaking"
  }) 
</script>
