---
import Layout from '../../../layouts/Layout.astro'
import AudioLoader from '../../../components/AudioLoader.astro';
import Speaking from '../../../components/Speaking.astro';
import Home from '../../../components/Home.astro'
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";


const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}

const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {tariff, telegram, telegramName, status} = userData

if(status ==="unpaid" || status ===""){
  return Astro.redirect("/price");	
}

---

<Layout title="Speaking">
    <AudioLoader/>
	<Home/>
     <Speaking test="Test 10. Weather & Seasons"/>

     <audio src="/mock-tests/test10/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test10/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test10/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test10/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test10/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test10/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test10/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test10/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test10/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test10/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test10/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test10/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test10/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test10/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test10/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>

var q=[
   'What is the weather like in your country?',
   'Do you like the weather in your country?',
   'Is the weather the same in all parts of your country?',
   'Are there any problems with the climate in your country?',
   'Does the weather ever affect the way you feel?',
   'Is your country popular with tourists in every season?',
   '<p><b>Describe your favourite season.</b></p><p>You should say:</p><ul><li>what the season is and when it occurs</li><li>what the weather is like during this season</li><li>what your typical activities are during this season</li><li>and explain why it is your favourite season.</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>',
   'How do the different seasons affect the lifestyle of people in your country?',
   'Do you think people who live in cold places have different personalities to people who live in warm or hot places?',
   'Do you think there are any problems with the world\'s climate now?',
   'In your opinion, is anything we can do to prevent bad weather?',
   'How easy or difficult is it to predict the weather in your country?'
	]

</script>

<script src="../../../scripts/quiz.js"></script>  
