<main id="propmpt-request">
</main>

<section id="hs-clipboard-basic" class="w-[90%] mx-auto px-4 sm:w-1/2 mt-5 mb-4 flex flex-col justify-start items-center text-md text-gray-50">
    <h1 class="text-2xl font-semibold py-2 text-gray-100 flex items-center border-b-2 border-blue-600">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-rose-500">
    Generate Your Essay
  </span>
  </h1> 

</section>

