---
import Back from "@components/Back.astro";
---
<header class="w-full sticky top-0 bg-slate-700 shadow-lg flex justify-between items-center px-5 text-xl font-semibold text-gray-100">
<div class="flex items-center">
    <Back/>
<h1>Essay Generator</h1>

</div>
<button type="button" class="js-clipboard p-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border shadow-sm disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-gray-700 text-white hover:bg-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-800"
    data-clipboard-target="#hs-clipboard-basic"
    data-clipboard-action="copy"
    data-clipboard-success-text="Copied">
    <svg class="js-clipboard-default w-4 h-4 group-hover:rotate-6 transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/></svg>

    <svg class="js-clipboard-success hidden w-4 h-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
  </button>

</header>