---
import Layout from "@layouts/Layout.astro";
import Back from '@components/Back.astro';
import Podcast from '@components/Podcast.astro'

---

<Layout title="Writing Task 1 Course">
 <header class="w-full shadow-xl text-white flex items-center">
    <Back/>
        <div class="container mx-auto">
            <h1 id="title" class="text-md xs:text-lg sm:text-3xl font-semibold">Podcasts</h1>
            <p class="text-sm">BBC Learning English</p>
        </div>
    </header>
    <div class="relative w-full bg-gray-800 h-[400px]" style="background-image: url('/uploads/bg.png')">
     <div class="flex flex-col w-full h-full absolute top-0 left-0" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,4,5,0) 100%);">
      <h1 class="mt-6 pt-4  mx-3 text-6xl font-semibold text-white">LATEST PODCASTS</h1>
      <p class="text-md text-gray-400 mx-3 my-3">INSPIRING LANGUAGE LEARNING PODCASTS</p>

      <div class="flex items-center mx-3 mt-5">
       <button class="bg-[#17cb57] font-medium text-gray-800 text-xl border border-[#17cb57]
       py-3 px-6 rounded-full shadow-xl"><a href="/podcast#total">ALL EPISODES<a></button>
      </div>
     </div>
    </div>

          
     <div class="w-full py-4 px-5 bg-slate-900">
      <div class="flex items-center">
       <div id="toggleBtn" class="bg-[#04e03f] rounded-full h-11 w-12 flex items-center justify-center cursor-pointer">
       <svg id="play" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor" /></svg>

       <svg id="pause" xmlns="http://www.w3.org/2000/svg" class="hidden icon icon-tabler icon-tabler-player-pause-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" stroke-width="0" fill="currentColor" /><path d="M17 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" stroke-width="0" fill="currentColor" /></svg>
       </div>
       <audio src="https://downloads.bbc.co.uk//learningenglish/newsreview/unit_1/231018_NR_amazon_water_emergency_download.mp3" id="top"></audio>
       <div class="flex flex-col w-full">
        <p class="text-emerald-500 text-lg sm:text-2xl ml-4">Amazon water emergency</p>
        <p class="text-gray-400 text-sm mx-4"><marquee>The Amazon has its lowest water levels in 121 years. Learn how to talk about the story. </marquee></p>
       </div>
      </div>
     </div>

     <Podcast/>
</Layout>

<script>
const audio = document.getElementById('top')
audio.loop

document.getElementById('toggleBtn').addEventListener('click', ()=>{
  if(document.getElementById('play').classList.contains('hidden')){
  document.getElementById('play').classList.remove('hidden')
  document.getElementById('pause').classList.add('hidden')
  audio.pause()

}
else{
  document.getElementById('play').classList.add('hidden')
  document.getElementById('pause').classList.remove('hidden')
  audio.play()
}
})


</script>
