---
import Layout from '../../../layouts/Layout.astro'
import AudioLoader from '../../../components/AudioLoader.astro';
import Speaking from '../../../components/Speaking.astro';
import Home from '../../../components/Home.astro'


---

<Layout title="Speaking">
    <AudioLoader/>
	<Home/>
     <Speaking test="Test 6. Neighbors and Animals"/>

     <audio src="/mock-tests/test06/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test06/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test06/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test06/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test06/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test06/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test06/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test06/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test06/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test06/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test06/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test06/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test06/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test06/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test06/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>
  
  var q=[
  "Do you know all your neighbours?",
  "How often do you talk to your neighbours?",
  "How well do you get along with your neighbours?",
  "Do you like cooking?",
  "How often do you cook?",
  "What dishes are you best at cooking?",
  `<p><b>Describe your favorite unusual animal</b></p><p>You should say:</p><ul><li>what animal it is</li><li>where you saw it
</li><li>what it looks like</li><li>and explain why you think it is an interesting animal.</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>`,
"Why is it important to conserve the world’s animal and plant species?",
"Which species are endangered in your country? Why?",
"Do you think modern farming methods are cruel to animals?",
"Why do many people refuse to eat meat?",
"What measures could we take to protect wildlife?"
]

</script>

<script src="../../../scripts/quiz.js"></script>  
