
<header class="sticky top-0 w-full  flex items-center justify-between mx-auto px-4 w-full h-[60px] z-10 text-white bg-indigo-600 shadow-xl">

<a onclick="window.history.back()" class="rounded-lg flex justify-center items-center  text-white m-4">
 
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
</a>

</header>
