---
const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2P1J1FSK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B2P1J1FSK7');
</script>
        <meta name="description" content="Exam Online - Multilevel imtihoniga tayyorlovchi platforma">
		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style is:global>
body{
    background-color: #24264d;
}

code{
    color: #f43f5e;
}
</style>
