---
const {title} = Astro.props
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<ViewTransitions/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Exam Online - Multilevel imtihoniga tayyorlovchi platforma">
		<title>{title}</title>
	</head>
	<body>
        
		<slot/>
   <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>

<style is:global>

body{
    background-color: #1e293b;
}

code{
    color: #f43f5e;
}
</style>
