---
import 'animate.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="sm:max-h-[400px] sm:overflow-y-auto
sm:[&::-webkit-scrollbar]:w-2
sm:[&::-webkit-scrollbar-track]:rounded-full
sm:[&::-webkit-scrollbar-thumb]:rounded-full
sm:[&::-webkit-scrollbar-track]:bg-slate-700
sm:[&::-webkit-scrollbar-thumb]:bg-slate-500">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="ExamOnline Edumo - Multilevel imtihoniga tayyorlovchi platforma"/>
		<title>{title}</title>
		<script is:inline src="/js/jquery-3.6.4.min.js"></script>
	</head>
	<body class="bg-slate-800">
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script is:inline src="/js/preline.js"></script>
<script is:inline src="/js/clipboard.js"></script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>


<script>
  // INITIALIZATION OF CLIPBOARD
  // =======================================================
  (function() {
    window.addEventListener('load', () => {
      const $clipboards = document.querySelectorAll('.js-clipboard');
      $clipboards.forEach((el) => {
        const isToggleTooltip = HSStaticMethods.getClassProperty(el, '--is-toggle-tooltip') === 'false' ? false : true;
        const clipboard = new ClipboardJS(el, {
          text: (trigger) => {
            const clipboardText = trigger.dataset.clipboardText;

            if (clipboardText) return clipboardText;

            const clipboardTarget = trigger.dataset.clipboardTarget;
            const $element = document.querySelector(clipboardTarget);

            if (
              $element.tagName === 'SELECT'
              || $element.tagName === 'INPUT'
              || $element.tagName === 'TEXTAREA'
            ) return $element.value
            else return $element.textContent;
          }
        });
        clipboard.on('success', () => {
          const $default = el.querySelector('.js-clipboard-default');
          const $success = el.querySelector('.js-clipboard-success');
          const $successText = el.querySelector('.js-clipboard-success-text');
          const successText = el.dataset.clipboardSuccessText || '';
          const tooltip = el.closest('.hs-tooltip');
          const $tooltip = HSTooltip.getInstance(tooltip, true);
          let oldSuccessText;

          if ($successText) {
            oldSuccessText = $successText.textContent
            $successText.textContent = successText
          }
          if ($default && $success) {
            $default.style.display = 'none'
            $success.style.display = 'block'
          }
          if (tooltip && isToggleTooltip) HSTooltip.show(tooltip);
          if (tooltip && !isToggleTooltip) $tooltip.element.popperInstance.update();

          setTimeout(function () {
            if ($successText && oldSuccessText) $successText.textContent = oldSuccessText;
            if (tooltip && isToggleTooltip) HSTooltip.hide(tooltip);
            if (tooltip && !isToggleTooltip) $tooltip.element.popperInstance.update();
            if ($default && $success) {
              $success.style.display = '';
              $default.style.display = '';
            }
          }, 800);
        });
      });
    })
  })()
</script>
