---
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "@layouts/Layout.astro";
import FooterInput from "@components/essay/generator/FooterInput.astro";
import Header from "@components/essay/generator/Header.astro";
import Body from "@components/essay/generator/Body.astro";
import { getFirestore } from "firebase-admin/firestore";



const auth = getAuth(app);
const db = getFirestore(app)

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}


const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

const {name, email, status, tariff, joined, expiresAt, telegramName} = userData

if(status==="unpaid"){
return Astro.redirect("/price");
}

if(tariff==="basic"){
return Astro.redirect("/pay");
}


---

<Layout title="Essay Generator">
<Header/>

<Body/>
 
<FooterInput/>
</Layout>
  
<script>

document.getElementById('prompt-btn').onclick= async()=>{

  const question = $("#prompt-textarea").val()
  $('#prompt-textarea').val('')
  document.getElementById('prompt-btn').disabled=true

  var request = document.getElementById('propmpt-request')

  var div = document.createElement('div')
  div.classList.add('bg-slate-700', 'w-[90%]', 'sm:w-1/2', 'py-2', 'px-4', 'text-gray-100','text-md', 'mx-auto', 'my-3', 'rounded')
  div.textContent=question
  request.appendChild(div)

  $('#hs-clipboard-basic').html(`<p id="indicator" class="flex items-center gap-x-2 text-white text-lg text-medium">
  Essey yaratilmoqda
  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 animate-spin icon icon-tabler icon-tabler-loader" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6l0 -3" /><path d="M16.25 7.75l2.15 -2.15" /><path d="M18 12l3 0" /><path d="M16.25 16.25l2.15 2.15" /><path d="M12 18l0 3" /><path d="M7.75 16.25l-2.15 2.15" /><path d="M6 12l-3 0" /><path d="M7.75 7.75l-2.15 -2.15" /></svg>
</p>`)

try {

    const jsonString = JSON.stringify({question});
    console.log(jsonString)
    const response = await fetch('/api/generate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: jsonString,
    });

    const result = await response.json();
    $('#hs-clipboard-basic').html(result.choices[0].text)


  } catch (error) {
    console.error("Error sending JSON data:", error);
  }


}

</script>




