<div class="header bg-slate-800 w-full sticky top-0  h-16 shadow-lg flex justify-between items-center" style="user-select: none;">
	<a href="/" class="text-xl font-bold mx-2 text-white">Blog</a>
	<img  id="avatar" class="bg-white w-10 h-10 mx-3 mr-5 rounded-full border-2 border-rose-400 cursor-pointer">
</div>