---
import Layout from '../../../layouts/Layout.astro'
import AudioLoader from '../../../components/AudioLoader.astro';
import Speaking from '../../../components/Speaking.astro';
import Home from '../../../components/Home.astro'


---

<Layout title="Speaking">
    <AudioLoader/>
	<Home/>
     <Speaking test="Test 17. Animals & Picnic"/>

     <audio src="/mock-tests/test17/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test17/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test17/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test17/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test17/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test17/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test12/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test17/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test12/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test17/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test17/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test17/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test17/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test17/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test12/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>

var q=[
     'Do you like wild animals?',
   'What is your favourite wild animal?',
   'Have you ever seen animals in the wild?',
   'Do you like going to picnics?',
   'When was the last time you went to picnic?',
   'How do you enjoy a picnic?',
   '<p><b>Describe your favorite unusual animal</b></p><p>You should say:</p><ul><li> what animal it is</li><li>how you know about this animal</li><li>where they are found</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>',
   'What kind of animals do people have in their home?',
   'Why do people have pets in their homes?',
   'Do you think people do not respect animals these days? What about 10 years ago?',
   'Earlier people used animals for their work. Now, what do people use to do their work?',
   'So many animals are extinct these days. What do you think about this? Why is it happening?'
	]

</script>

<script src="../../../scripts/quiz.js"></script>  
